<!DOCTYPE html>
<head>
    <link id="cssTheme" rel="stylesheet" href="css/style.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=PT+Sans'>
</head>
<div class="container">
	<div class="container__item">
		<form class="form" id="linkform">
			<input id="link" class="form__field" placeholder="Shorten your link" required />
			<button type="submit" class="btn btn--primary btn--inside uppercase">Shorten</button>
        </form>
        <section id="result" class="result-section"></section>
	</div>
</div>
<script src="js/main.js"></script>
</html>